---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Senior Software Engineer with over 10 years of experience in full-stack development, specializing in building scalable web applications and APIs. Proficient in TypeScript, JavaScript, Python, and Java, with a strong focus on React, Next.js, Astro.js, and FastAPI. Experienced in deploying applications on AWS, Netlify, Vercel, and Cloudflare. Passionate about delivering high-quality software solutions and continuously learning new technologies.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's Degree in Electrical Engineering"
      subtitle="at Sevastopol State Technical University, Sevastopol, Ukraine"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Application Developer at IBM Canada"
      subtitle="From 2017 to 2024 at IBM Canada, Toronto/Calgary, Canada"
    >
      * For Suncor Energy developed Next.js app and AWS Lambda code, enabling user authentication with Amazon Cognito and Google and integration with DynamoDB via AWS API Gateway. Deployed the app to AWS Amplify.
      <br><br>
      * For AWS Professional Services, contributed to development of Bell Media Recommender using Amazon Personalize machine learning, AWS SDK for Python (boto3), FastAPI and Next.js.
      <br><br>
      * Contributed to development of AWS-based integration testing framework (ITF) for Immigration, Refugees, and Citizenship Canada. Using AWS SDK for Node.js, implemented AWS Lambda code for retrieving user credentials from AWS Secrets Manager.
      <br><br>
      * Contributed to development of employee-facing consent and signature capture app (CSCA) for TD Bank My eSign road to paperless initiative. Developed GraphQL API and Next.js code.
      <br><br>
      * Led development team on Credit Union Central Alberta for implementing checks processing. We developed React SPA and Java Spring Web REST API using Spring Boot 2.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer at Deutsche Bank"
      subtitle="From 2016 to 2016 at Deutsche Bank, Cary, USA"
    >
      Participated in development of FlowRisk Java RPC server, bank's strategic intra-day and end-of-day risk and profit and loss platform for global equity derivatives flow desks.
      <br>
      Developed Java components for storing risk and profit and loss data in dbRiskStore global storage.
    </TimeLineElement>
    <TimeLineElement
      title="IT Solutions Developer at TD Bank"
      subtitle="From 2015 to 2016 at TD Bank, Mississauga, Canada"
    >
      Migrated Credit Security Library J2EE app from WebSphere AS 6.1 to JBoss EAP 6.3 using Java 7, Spring 4, Hibernate 3.6, JAXB 2, JAX-WS, and Maven.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>Java</li>
    <li>CSS3</li>
    <li>HTML5</li>
    <li>Tailwind CSS</li>
    <li>React</li>
    <li>Shadcn UI</li>
    <li>Redux</li>
    <li>React Router v7</li>
    <li>Next.js</li>
    <li>Astro.js</li>
    <li>FastAPI</li>
    <li>Fastify</li>
    <li>Spring Boot</li>
    <li>AWS</li>
    <li>Supabase</li>
    <li>Cloudflare</li>
    <li>Vercel</li>
    <li>Netlify</li>
    <li>Docker</li>
    <li>GitHub</li>
    <li>SQL DBs</li>
    <li>NoSQL DBs</li>
  </ul>
</BaseLayout>
