---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Volodymyr Cholak</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="mt-8">
      <a class="btn" href="https://x.com/vcholak" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Healthcare CRM"
    img="/post_img.webp"
    desc="Built using React Router v7 full-stack framework with Supabase integration."
    url="https://github.com/volchok60/care-sphere-manager"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Library"
    img="/post_img.webp"
    desc="Built as React SPA with Supabase integration."
    url="https://github.com/volchok60/library"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="StreamLine Landing Page"
    img="/post_img.webp"
    desc="Built with Next.js 15, React 19, Tailwind CSS, and Framer Motion for smooth animations."
    url="https://github.com/volchok60/streamline"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">My archived projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Library (frontend)"
    img="/post_img.webp"
    desc="Built with Next.js 13, TypeScript and Tailwind CSS"
    url="https://github.com/vcholak/library-next-ts"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sport Products Store"
    img="/post_img.webp"
    desc="Full-stack app implemented using React front-end, Express back-end and MongoDB storage."
    url="https://github.com/vcholak/products-react-express-mongodb"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sentence Assembler"
    img="/post_img.webp"
    desc="Java REST Microservices app implemented with Spring Boot and Spring Cloud Netflix."
    url="https://github.com/vcholak/spring-cloud-sentence"
  />
</BaseLayout>
