---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services Header</div>
  </div>

  <HorizontalCard
    title="Web Development"
    img="/post_img.webp"
    desc="Web development using React, Next.js, Astro.js, and Tailwind CSS."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="API Development"
    img="/post_img.webp"
    desc="Development of RESTful / GraphQL APIs with Fastify / FastAPI / Spring Boot."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="API Integration"
    img="/post_img.webp"
    desc="Integration with external APIs."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Deployment"
    img="/post_img.webp"
    desc="Deployment of applications on AWS, Netlify, Vercel, Cloudflare, etc."
    url="#"
  />
</BaseLayout>
